<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exshell.ops.activity.repository.ActivityUserMapper">
  <resultMap id="BaseResultMap" type="com.exshell.ops.activity.model.ActivityUser">
    <result column="f_id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="inviter_uid" jdbcType="BIGINT" property="inviterUid" />
    <result column="inviter_code" jdbcType="VARCHAR" property="inviterCode" />
    <result column="is_recharge" jdbcType="TINYINT" property="isRecharge" />
    <result column="is_reminded" jdbcType="TINYINT" property="isReminded" />
    <result column="phone_num" jdbcType="CHAR" property="phoneNum" />
    <result column="f_version" jdbcType="BIGINT" property="version" />
    <result column="f_created_at" jdbcType="BIGINT" property="createdAt" />
    <result column="f_updated_at" jdbcType="BIGINT" property="updatedAt" />
    <result column="reward" jdbcType="DECIMAL" property="reward" />
  </resultMap>
  <insert id="insert" keyColumn="f_id" keyProperty="id" parameterType="com.exshell.ops.activity.model.ActivityUser" useGeneratedKeys="true">
    insert into activity_user (uid, code, inviter_uid, 
      inviter_code, is_recharge, is_reminded, 
      phone_num, f_version, f_created_at, 
      f_updated_at, reward)
    values (#{uid,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{inviterUid,jdbcType=BIGINT}, 
      #{inviterCode,jdbcType=VARCHAR}, #{isRecharge,jdbcType=TINYINT}, #{isReminded,jdbcType=TINYINT}, 
      #{phoneNum,jdbcType=CHAR}, #{version,jdbcType=BIGINT}, #{createdAt,jdbcType=BIGINT}, 
      #{updatedAt,jdbcType=BIGINT}, #{reward,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" keyColumn="f_id" keyProperty="id" parameterType="com.exshell.ops.activity.model.ActivityUser" useGeneratedKeys="true">
    insert into activity_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="inviterUid != null">
        inviter_uid,
      </if>
      <if test="inviterCode != null">
        inviter_code,
      </if>
      <if test="isRecharge != null">
        is_recharge,
      </if>
      <if test="isReminded != null">
        is_reminded,
      </if>
      <if test="phoneNum != null">
        phone_num,
      </if>
      <if test="version != null">
        f_version,
      </if>
      <if test="createdAt != null">
        f_created_at,
      </if>
      <if test="updatedAt != null">
        f_updated_at,
      </if>
      <if test="reward != null">
        reward,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="inviterUid != null">
        #{inviterUid,jdbcType=BIGINT},
      </if>
      <if test="inviterCode != null">
        #{inviterCode,jdbcType=VARCHAR},
      </if>
      <if test="isRecharge != null">
        #{isRecharge,jdbcType=TINYINT},
      </if>
      <if test="isReminded != null">
        #{isReminded,jdbcType=TINYINT},
      </if>
      <if test="phoneNum != null">
        #{phoneNum,jdbcType=CHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=BIGINT},
      </if>
      <if test="reward != null">
        #{reward,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>