<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property resource="conf/config.properties"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%t] %-5p %C.%M\(%L\) -%m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/general-job.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>log/general-job.%i.log</FileNamePattern>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100MB</MaxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d [%t] %-5p %C.%M\(%L\) -%m%n</Pattern>
        </layout>
    </appender>

    <appender name="KAFKA" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <encoder class="com.github.danielwegener.logback.kafka.encoding.PatternLayoutKafkaMessageEncoder">
            <layout class="net.logstash.logback.layout.LogstashLayout">
                <customFields>{"app":"general-job", "env":"${deploy.env}"}</customFields>
            </layout>
        </encoder>

        <topic>exshell-logger</topic>
        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.RoundRobinKeyingStrategy"/>
        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy"/>
        <producerConfig>bootstrap.servers=${deploy.kafka}</producerConfig>
        <producerConfig>acks=1</producerConfig>
        <producerConfig>linger.ms=1000</producerConfig>
    </appender>

    <logger name="org.apache.ignite" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.exshell.bitex.general" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
